<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
<!--NO need to register this, annotation config can handle it, but we can use both simultaneously-->
<!--    <bean id= "A1" class="in.ratansgh.A"/>-->

<!--    Register the bean manually using annotation approch but this will create an ambiguity also this uses class xml. approach(in main class) but we use config class where bean is registered using annotation approach-->
<!--    <bean id="s2" class = "in.ratansgh.Student"/>-->

    <context:component-scan base-package="in.ratansgh"/>

</beans>